* {
  margin: 0;
}
body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.navbar {
  background-color: blue;
  color: #fff;
  padding: 10px;
}
a {
  color: #fff;
  text-decoration: none;
}
.nav {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.nav-link {
  margin: 0 10px;
  list-style: none;
}
